1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

In [1]:
"""values = "hello" , -87.8 ,6

 expression = - / + *   """

'values = "hello" , -87.8 ,6\n\n expression = - / + *   '

2. What is the difference between string and variable?

In [2]:
"""string is quoted and it can be integer,alpahbets or alphanumeric defined in quotes.Ex:"Qwerty" ,"1234" ,"134125aggrq"

variable is used to define the string or integer or the list etc.In general we could define it as the operation in phython used to define the different data types."""

'string is quoted and it can be integer,alpahbets or alphanumeric defined in quotes.Ex:"Qwerty" ,"1234" ,"134125aggrq"\n\nvariable is used to define the string or integer or the list etc.In general we could define it as the operation in phython used to define the different data types.'

3. Describe three different data types.

In [8]:
 
 
""" List [1,2,3,4,"qwr"], A list is type of data set which contains integers strings ,list inside a list etc 
 TUples (1,2,3,4,"qwr") A tuple is type of data set enclosed in samll bracked ,whih contains simliar kind of data in it to list
 Sets{1,3,4,5,"qwer"}Inside set we can define a repeated type of elements but when set is called or its docstring will be a set of uniwue entities."""

' List [1,2,3,4,"qwr"], A list is type of data set which contains integers strings ,list inside a list etc \n TUples (1,2,3,4,"qwr") A tuple is type of data set enclosed in samll bracked ,whih contains simliar kind of data in it to list\n Sets{1,3,4,5,"qwer"}Inside set we can define a repeated type of elements but when set is called or its docstring will be a set of uniwue entities.'

4. What is an expression made up of? What do all expressions do?

In [6]:
"""#An expression is made up of mathematical operators and it will perfrom the mathematical operations,like addition
substaration ,multiplication etc"""

'#An expression is made up of mathematical operators and it will perfrom the mathematical operations,like addition\nsubstaration ,multiplication etc'

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [7]:
"""#In spam = 10 is a statement ,which means spam is variable and 10 is defined by variable spam.
   Also we could say value 10 is defined by variable  spam.

 supposed a=22 and b=23 then a+b =? ,here a+b will be the expression and a=22 and b=23 are statements."""

'#In spam = 10 is a statement ,which means spam is variable and 10 is defined by variable spam.\nAlso we could say value 10 is defined by variable  spam.\n\n supposed a=22 and b=23 then a+b =? ,here a+b will be the expression and a=22 and b=23 are statements.'

In [6]:
"""6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1"""

'6. After running the following code, what does the variable bacon contain?\nbacon = 22\nbacon + 1'

In [3]:
bacon = 22

In [4]:
bacon + 1

23

In [4]:
bacon

22

After running the following code bacon contains 22

In [7]:
"""7. What should the values of the following two terms be?
'spam'+'spamspam"        """

'7. What should the values of the following two terms be?\n\'spam\'+\'spamspam"        '

In [7]:
'spam'+'spamspam'

'spamspamspam'

In [8]:
'spam' * 3

'spamspamspam'

The values of following two terms will be same.

8. Why is eggs a valid variable name while 100 is invalid?

In [8]:
"""Because variable name can be only alphabets where as it cannot be numbers as per the python. Also question itself defines as name.So number cannot be a name."""

'Because variable name can be only alphabets where as it cannot be numbers as per the python. Also question itself defines as name.So number cannot be a name.'

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [9]:
"""Int function can be used to get the integer."""

'Int function can be used to get the integer.'

In [10]:
int(2)

2

In [2]:
int(input("enter a value= "))

enter a value= 22

22

In [3]:
float(input("enter a value= "))

enter a value= 21.22

21.22

In [4]:
input("enter a input= ")

enter a input= Ajay

'Ajay'

10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 +'burritos'

In [3]:
'I have eaten' + 99 +'burritos'

TypeError: can only concatenate str (not "int") to str

In [11]:
"""Expression causes error because ther is type casting used,using the type casting issue could be solved,i.e if 99 is also converted to string the issue could be solved."""

'Expression causes error because ther is type casting used,using the type casting issue could be solved,i.e if 99 is also converted to string the issue could be solved.'

In [5]:
'I have eaten' + '99' +'burritos'

'I have eaten99burritos'